$light-gray:#eee;
$gray: #ccc;
$dark-gray:#999;
$extra-dark-gray:#333333;
$blue-outline:#06f;
$white:#fff;
$black:#000;
$character-text-gray:#9b9b9b;
$character-text-orange:#e78c0c;
$character-border:#444444;